$green-blue:#1cbac8;

body ::selection {
    color:white;
    background-color:$green-blue;
    text-shadow:none;
}
body ::-moz-selection {
    color:white;
    background-color:$green-blue;
    text-shadow:none;
}
#submit{
  background: #1cbac8;
  border-color: #1cbac8;
  color:white;
  font-weight: bold;
  padding:12px;
  box-shadow:none;
}
ul,li{
  list-style-type: none;
  padding:0px;
  margin:0px;
}
button{
  box-shadow:none;
}
.wphy{
  overflow:hidden;
}

h1,h2,h3,h4,h5,h6{
  margin-top:10px;
  margin-bottom:10px;
}
h1{
  font-size: 23px;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 18px;
}
h4{
  font-size: 16px;
}
h5{
  font-size: 15px;
}
h6{
  font-size: 14px;
} 
p{
  color:#777;
  line-height: 27px;
  font-size:14px;
}
body{
  &.home{
    background-color:white;
  }
  background-color: #f1f1f1; 
}
a,a:visited{
  color:#404040;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  opacity: 0.7;
  cursor:pointer; 
}
button,button:hover{
  box-shadow:none;
  border:none;
}
#content,#secondary{
  padding:0px;
}

.clearfix{
  clear:both;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters  [class^="col-"],
.row.no-gutters  [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}