$green-blue:#1cbac8;

body ::selection {
    color:white;
    background-color:$green-blue;
    text-shadow:none;
}
body ::-moz-selection {
    color:white;
    background-color:$green-blue;
    text-shadow:none;

}

body{
  font-size:14px;
  font-family: "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}
ul,li{
  list-style-type: none;
  padding:0px;
  margin:0px;
}
button{
  box-shadow:none;
}
.wphy{
  overflow:hidden;
}

.limiter{
  margin:0 auto;
  max-width:1170px;
}
h1,h2,h3,h4,h5,h6{
  margin-top:10px;
  margin-bottom:10px;
}
h1{
  font-size: 23px;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 18px;
}
h4{
  font-size: 16px;
}
h5{
  font-size: 15px;
}
h6{
  font-size: 14px;
} 
p{
  color:#777;
  line-height: 27px;
  font-size:14px;
}
body{
  &.home{
    background-color:white;
  }
  background-color: #f1f1f1; 
}
a,a:visited{
  color:#404040;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  opacity: 0.7;
  cursor:pointer; 
}
button,button:hover{
  box-shadow:none;
  border:none;
}
#content,#secondary{
  padding:0px;
}

.clearfix{
  clear:both;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters  [class^="col-"],
.row.no-gutters  [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


button,#submit,button:hover,input[type="button"]:hover, input[type="reset"]:hover,input[type="submit"]:hover{
 position:relative;
    top:2px;
    display: inline;
     background: #1cbac8;
    border-color: #1cbac8;
    color: white;
    padding: 7px;
    box-shadow: none;
    border: 0px;
    font-size: 15px;
    border-bottom:4px solid #1BA39C;
}




.bg-full-width{
  background-size:cover;                    
  background-repeat: no-repeat;
  background-position: center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed; 
}




















