
body{
  background-color: #f7fcff;
}

.container-fluid{
  padding:0px;
}


.site-title{
  float: left;
  margin:0px;
  height:50px;
  line-height:50px;
  color:white;
  font-size: 18px;
  a{
    color:white;
  }
  text-indent: 10px;
}
.site-description{
  height: 60px;
  line-height:60px;
  font-size: 15px;
  margin:0px;
  color:#888;
  font-weight: 100;
  font-style:italic;
}

.navbar{
  margin-bottom:0px;
}

.navbar-toggle{
  background-color: #e6edf2;
  color:#7a828f;
  font-size:20px;
  padding:6px;
  float:right;
  margin-top:6px;
  margin-bottom:0px;
}
.flexslider{
  border:0px;
  max-height: 800px;
  overflow: hidden;
  .flex-direction-nav a{
    top:40%;
  }
   .slides>a{
    display: block;
   }
  .slides{
    max-height: 800px;

    li{
      max-height: 800px;
      //position:relative;
      .title{
        position:absolute;
        bottom:200px;
        font-size:40px;
        background-color: #1cbac8;
        left:60px;
        padding:9px;
        
        color:white;
      }

      .content{
        bottom:100px;
        max-width:500px;
        left:60px;
        position:absolute;
        font-size: 25px;
        background-color: #1cbac8;
        padding:9px;
        color:white;
      }
    }
  }
  .flex-prev,.flex-next{
    height: 60px;
    margin:30px;
  }
  .flex-control-nav{
    bottom:20px;
    z-index: 999;
  }

}

.site-header{
  background-color: #222;
}

.icon-text-area{
  margin-top:8px;
  .icon{
    text-align: center;
    font-size: 25px;
    color:$green-blue;
    margin-top:8px;
  }
  .readmore a{
    color:$green-blue;
    font-weight: bold;
    font-size:13px;
  }
}


.half-block-area{
  margin-top: 40px;
  .half-block{
    &:first-child{
      background-color: rgb(247, 247, 247);
    }
    background-color: rgb(241, 241, 241);
    padding:5%;
    .title{
      font-weight:bold;
    }
    .readmore{
      padding:11px;
      font-size:16px;
      color:white;
      background-color: $green-blue;
    }
  }
}

.image-block-area{
  margin-top:120px;
  .image-block{
    .image{
      position:relative;
      &:hover{
        .img-title{
          display: block;
        }
      }
      .img-title{
        position:absolute;
        width:100%;
        height: 100%;
        top:0px;
        padding:5px;
        font-size: 20px;
        background-color: $green-blue;
        color:white;
        opacity:0.6;
        display: none;
      }
     
    }

    .title{
      margin-top:10px;
      
      font-weight:bold;
      font-size: 15px;
    }

     .content p{
        line-height:17px;
        font-size:13px;
      }
  }
}


.full-width-text-block{
  background-color: #f9f9f9;
  color:#333;
  text-align: center;
  padding:50px;
  h3{
    font-size: 30px;
    margin:20px;
    margin-top:40px;
  }
  .content p{
    width:60%;margin:0 auto;
    margin-bottom:40px;
  }
}

.text-block-area{
  margin-top:50px;
  .text-block{
    margin-bottom:20px;
    min-height:150px;
    .title{
      font-weight: bold;
      font-size: 17px;
    }
  }
}

.image-post-slider{
  background-color: #f9f9f9;
  padding-top: 120px;
  padding-bottom: 60px;
  overflow: hidden;
  .image-post-slider-wrapper{
    position:relative;
  }
  
  li{
    margin-right:30px;
  }
  .image-post{
    background-color: white;
    .info{
      padding:9px;
      .title{
        font-size: 16px;
        margin-bottom:10px;
        margin-top:10px;
        font-weight: bold;
      }
      .content{
        margin-bottom:20px;
        min-height:50px;
      }
      .date{
        color:#999999;
      }
    }
  }
}

.button-text{
  text-align: center;
  color: white;
  background-color: #1cbac8;
  font-size:20px;
  padding:30px;
  a{
    color:white;
    border:2px solid white;
    padding:9px;
    margin-left:25px;
  }
}
/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      .no-phone{
        display: none;
      }
      .row{
        text-align: center;
        margin:15px;
        p{
          text-align: left;
        }
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }

















