


.container-fluid{
  padding:0px;
}


.site-title{
  float: left;
  margin:0px;
  height:50px;
  line-height:50px;
  color:white;
  font-size: 18px;
  a{
    color:white;
  }
  text-indent: 10px;
}
.site-description{
  height: 60px;
  line-height:60px;
  font-size: 15px;
  margin:0px;
  color:#888;
  font-weight: 100;
  font-style:italic;
}

.navbar{
  margin-bottom:0px;
}

.navbar-toggle{
  
  color:#7a828f;
  font-size:20px;
  padding:6px;
  float:right;
  margin-top:6px;
  margin-bottom:0px;
  border:none;
  span{
    color:white;
  }
}
.flexslider{
  border:0px;
  max-height: 800px;
  overflow: hidden;
  .flex-direction-nav a{
    top:40%;
  }
   .slides>a{
    display: block;
    
   }
  .slides{
    max-height: 800px;

    li{
      a:hover{
        opacity:1;
      }
      max-height: 800px;
      //position:relative;
      .info{
        position: absolute;
        bottom:100px;
        left:60px;
        max-width:500px;

        .title{
          margin-bottom: 20px;
          font-size:40px;
          background-color: #1cbac8;
          
          padding:9px;
          
          color:white;
        }

        .content{
          
          font-size: 25px;
          background-color: #1cbac8;
          padding:9px;
          color:white;
        }
      }
    }
  }
  .flex-prev,.flex-next{
    height: 60px;
    margin:30px;
  }
  .flex-control-nav{
    bottom:20px;
    z-index: 999;
  }

}

.site-header{
  background-color: #222;
}

.icon-text-area{
  margin-top:8px;
  .icon{
    text-align: center;
    font-size: 25px;
    color:$green-blue;
    margin-top:8px;
  }
  .readmore a{
    color:$green-blue;
    font-weight: bold;
    font-size:13px;
  }
}


.half-block-area{
  margin-top: 40px;
  .half-block{
    &:first-child{
      background-color: rgb(247, 247, 247);
    }
    min-height:400px;
    background-color: rgb(241, 241, 241);
    padding:5%;
    .title{
      font-weight:bold;
    }
    .readmore{
      padding:11px;
      font-size:16px;
      color:white;
      background-color: $green-blue;
    }
  }
}

.image-block-area{
  margin-top:120px;
  .image-block{
    .image{
      position:relative;
      &:hover{
        .img-title{
          display: block;
        }
      }
      .img-title{
        position:absolute;
        width:100%;
        height: 100%;
        top:0px;
        padding:5px;
        font-size: 20px;
        background-color: $green-blue;
        color:white;
        opacity:0.6;
        display: none;
      }
     
    }

    .title{
      margin-top:10px;
      
      font-weight:bold;
      font-size: 15px;
    }

     .content p{
        line-height:17px;
        font-size:13px;
      }
  }
}


.full-width-text-block{
  background-color: #f9f9f9;
  color:#333;
  text-align: center;
  padding:50px;
  h3{
    font-size: 30px;
    margin:20px;
    margin-top:40px;
  }
  .content p{
    width:60%;margin:0 auto;
    margin-bottom:40px;
  }
}

.text-block-area{
  margin-top:50px;
  .text-block{
    margin-bottom:20px;
    min-height:150px;
    .title{
      font-weight: bold;
      font-size: 17px;
    }
  }
}
.flex-direction-nav a{
  opacity:1;
  height:90px;
}
.image-post-slider{
  background-color: #f9f9f9;
  padding-top: 120px;
  padding-bottom: 60px;
  overflow: hidden;
  .image-post-slider-wrapper{
    position:relative;
  }
  
  li{
    margin-right:30px;
  }
  .image-post{
    background-color: white;
    .info{
      padding:9px;
      .title{
        font-size: 16px;
        margin-bottom:10px;
        margin-top:10px;
        font-weight: bold;
      }
      .content{
        margin-bottom:20px;
        min-height:50px;
      }
      .date{
        color:#999999;
      }
    }
  }
}

.button-text{
  text-align: center;
  color: white;
  background-color: #1cbac8;
  font-size:20px;
  padding:30px;
  a{
    color:white;
    border:2px solid white;
    padding:9px;
    margin-left:25px;
  }
}
.tag-cloud a {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #666;
  border-radius: 2px;
  margin-right: 5px;
  margin-bottom: 8px;
  color: #666;
  font-weight: 300;
  font-size: 13px !important;
}
#footer{
  background-color: #222;
  
  color:#888;
  padding:60px 0 50px 0;
  a{
    color:#888;
  }
  .about-us{
  
  }
  .title{
    color:white;
    margin-bottom:10px;
  }

  .recent-post{
    li{
      padding-top:5px;
      padding-bottom:5px;
      border-bottom:1px solid gray;
    }
  }
  .copy-right{
    text-align: center;
    border-top:1px solid gray;
    margin-top:20px;
    h3{
      font-size:14px;
    }
  }
}

.pagination{
  width:100%;
  text-align:center;
  a{
    padding:8px;
    margin-right:5px;
    background-color: $green-blue;
    color:white;
  }
  .current{
    padding:0px;
    margin-right:5px;
    color:$green-blue;
  }
}
.page-header{
  text-align: center;
    background: #f9f9f9;
  border-bottom: 0 none #efefef;
  color:#777;
  margin:0px;
  .page-title{
    margin:0px;
    height: 60px;
    line-height: 60px;
  }
}
.search-form{
  label{
    width:90%;
  }
}
input[type="search"].search-field{
    box-sizing: border-box;
  width: 100%;
  border: 1px solid #e1e1e1;
  padding: 10px 12px 10px 36px;
  box-shadow: 0 2px 0 0 rgba(0,0,0,.03);
  border-radius: 2px;
  background: #ffffff;

}
#secondary{
  padding-top:60px;
  padding-right:20px;
}

.widget{
  margin-bottom:30px;
  background-color:white;
  
  h1{
    padding:10px;
    
    margin-bottom:0px;
    background-color: #f8f8f8;
    font-size:18px;
    &:before{
      content:"\f039";
      font-family: "FontAwesome";
      margin-right:10px;

    }
  }
  ul{
    padding:10px;
    padding-top:0px;
    li{
        border-bottom: 1px solid #efefef;
        position: relative;
        padding: 10px 0;
        &:after{
          font-family: "FontAwesome";
          content: "\f105";
          position: absolute;
          top: 10px;
          right: 0;
          font-size: 14px;
          color: #cccccc;
        }
      a{
        display: block;
        color: #777777;
      }
    }
  }
  
}
#primary{
  padding-top:60px;
  padding-left:60px;
  border-left: 1px solid #f9f9f9;
  background-color:white;
  article{
    border-bottom:1px solid #efefef;
    margin-bottom:30px;
    padding-bottom:40px;
  }
  .feature-image img{
    width:100%; 
  }
  .entry-title{
    margin-top:20px;
    margin-bottom:20px;
    font-weight: bold;
    font-size: 23px;
  }
  .read-more{
    color:$green-blue;
  }
  .meta-info{
    margin-bottom: 20px;
    margin-top: 20px;
    color:#999999;
    font-weight: bold;
    font-size:13px;
    a{
      color:#999999;
    }
    span{
      float:left;
      margin-left:5px;
      li{
        margin-left:5px;
      }
      &.author:before{
        font-family: 'FontAwesome';
        content:"\f007";
        margin-right:5px;
      }
      &.date:before{
        font-family: 'FontAwesome';
        content:"\f073";
        margin-right:5px;
      }
    }
  }
  .tag-cloud{
    a{
      border-color:#efefef;
      color:#999999;
    }
  }
  .post-categories{
    display: inline;
    li{
      &:first-child:before{
        font-family: 'FontAwesome';
        content:"\f02c";
        margin-right:5px;
      }
      float: left;
    }
  }
}
/*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
      .no-phone{
        display: none;
      }
      .row{
        text-align: center;
        margin:15px;
        p{
          text-align: left;
        }
      }
      .site-branding.row{
        margin:0px;
      }
      #primary{
        padding-left:inherit;
      }
      #menu-top-menu{
        text-align: left;
      }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }

















