.client-area{
  padding-top:50px;
  padding-bottom:50px;
  img{
    width:auto;
    max-width:100%;
  }
  .block-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    border-bottom:1px solid gray;
    padding-bottom:10px;
    
  }
  .item{
    text-align: center;
    height:60px;
    margin-bottom:15px;
    line-height:60px;

  }
}